@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can start using this site by adding a recipe, once you have a couple added try making a shopping list!</p>
</div>
