@model Recipe

<h3>@Model.RecipeName</h3>
<br />
<ul>
@foreach(RecipeIngredient recipeIngredient in Model.RecipeIngredients){
        <li>@(recipeIngredient.Ingredient.IngredientName) - @(recipeIngredient.Amount)</li>
    
}
</ul>
<p>@Model.RecipeInstructions</p>
<br />
<a asp-controller="Home" asp-action="ChooseRecipe">Back to your Recipes</a>