@model Recipe

<h2>Confirm Recipe Deletion</h2>
<h3>@Model.RecipeName</h3>

<form asp-action="DeleteRecipe" method="post">
    <input type="hidden" asp-for="RecipeID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Admin" asp-action="AllRecipes" class="btn btn-primary">Cancel</a>
</form>